/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  color: var(--text-color, #f1b2ce);
  font-family: 'IBM Plex mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  background-image: var(
    --page-background-image,
    url('../images/cover-image-dark.png')
  );
  background-color: var(--page-background-color, #000028);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--secondary-color, #ff0070);
}

.link:hover {
  /* text-decoration: underline; */
  border-bottom: 1px solid var(--text-color, #f1b2ce);
}

.link:focus {
  outline: transparent;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

/* Начало блока header */

.header {
  display: grid;
  padding: 10px;
  height: 100vh;
  min-block-size: 668px;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  border-block-start: 1px solid var(--accent-color, #ff0070);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  border-block-end: 1px solid var(--accent-color, #ff0070);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header__decor-rec {
  position: absolute;
  z-index: -1;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 19px;
  inset-block-start: 10px;
  visibility: var(--decor-rec-visibility, visible);
}

.header__decor-rec::before {
  content: 'REC';
  color: var(--accent-color, #ff0070);
  line-height: 25px;
}

.header__decor-rec::after {
  content: '';
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color, #ff0070);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 13px;
  line-height: 18px;
  color: var(--accent-color, #ff0070);
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
  caret-color: transparent;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--color-button-hover, #ff007040);
}

.header__theme-menu-button:focus {
  outline: transparent;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.page-title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--brand-color, #db00ff);
  text-shadow: 4px 4px 0 var(--secondary-color, #ff0070);
}

.header__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  inline-size: 355px;
  align-self: center;
}

.page .title-decor {
  background-color: var(--secondary-color, #ff0070);
  color: var(--highlight-color, #000028);
}

/* Конец блока header */

/* Начало блока main */

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.content-section {
  display: grid;
  gap: 20px;
}

.title {
  font-weight: 700;
  color: var(--accent-color, #ff0070);
  font-size: inherit;
  line-height: inherit;
}

.title-advice {
  font-weight: 400;
  color: var(--accent-color, #ff0070);
  font-size: inherit;
  line-height: inherit;
}

.main .section__gallery {
  gap: 10px;
}

.section__list {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__list-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

/* Конец блока main */

/* Начало блока footer */

.footer {
  display: grid;
  place-items: center;
  padding: 10px;
  height: 100vh;
  min-block-size: 668px;
}

.footer .page-title {
  text-shadow: 2px 2px 0 var(--secondary-color, #ff0070);
}

/* Конец блока footer */

@media (width >= 768px) {
  .header {
    padding: 20px;
    padding-inline-start: 0px;
  }
  .header__decor-rec {
    inset-inline-end: 29px;
    inset-block-start: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .page-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header__text {
    justify-self: end;
    inline-size: 364px;
  }
  .main {
    padding: 60px 20px;
    gap: 80px;
  }

  .content-section {
    grid-template-columns: 1fr 2fr;
  }
  .content-section.what .section__list {
    grid-column: span 3;
  }

  .main .section__gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__list-item:first-child,
  .gallery__list-item:last-child {
    grid-column-start: span 2;
  }
  .gallery__list-item:nth-child(2),
  .gallery__list-item:nth-child(3) {
    grid-row-start: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: baseline;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    inline-size: 491px;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .content-section.why .section__list {
    grid-column: span 2;
  }

  .content-section.how .section__list:has(.title) {
    grid-column: span 2;
  }

  .list-transform {
    grid-template-columns: repeat(3, 1fr);
  }
}
